* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Verdana', sans-serif;
}
.content {
	padding: 10px;
	margin: 0 auto;
	background-color: #eee;
	height: calc(100vh - 100px);
	text-align: center;
}

.content p {
	font-size: 18px;
}

.table {
	margin-top: 20px;
}

.pick-button {
	visibility: hidden;
}

.footer {
	text-align: center;
	color: #ddd;
	padding: 0 20px;
	line-height: 50px;
}

.header .navbar {
    margin-bottom: 0;
	border-radius: 0;
}